<h2 mat-dialog-title>Danh Sách Ứng Viên Phù Hợp</h2>
<mat-dialog-content>
    <mat-list>
        <div [class.hidden]="!(data.content == null)" class="text-center pt-3 pb-1">Danh sách trống!</div>
        <div class="item" *ngFor="let candidate of data.content" [class.hidden]="data.content == null">
            <mat-list-item style="height: fit-content;">
                <div class="col-md-2 block">
                    <img *ngIf="candidate.avatarURL" src={{candidate?.avatarURL}} alt={{candidate.displayName}}>
                    <img *ngIf="!candidate.avatarURL" src={{avatar}} alt={{candidate.displayName}}>
                </div>
                <div class="col-md-8 block">
                    <div class="textHeader">{{candidate?.displayName}}</div>
                    <div class="row more">
                        <div class="col-5 textOver">
                            Ngày Sinh: {{candidate?.dob | date:'yyyy-MM-dd'}}
                        </div>
                        <div class="col-3 textOver">
                            Giới Tính: {{candidate?.genderDisplay}}
                        </div>
                        <div class="col-4 textOver">
                            Phù hợp: {{candidate?.percentMatching | percent:'1.1-2'}}
                        </div>
                    </div>
                </div>
                <div class="col-md-2 block">
                    <div class="btn-grp float-end">
                        <button class="pr-2"><i class="bi bi-person-dash h4"></i></button>
                        <button *ngIf="candidate?.isSelected == 0"><i class="bi bi-star h4"></i></button>
                        <button *ngIf="candidate?.isSelected == 1"><i class="bi bi-star-fill h4"></i></button>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions class="float-end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>