<h2 mat-dialog-title [class.hidden]="isHideModal">Danh Sách Ứng Viên Phù Hợp</h2>
<mat-dialog-content [class.hidden]="isHideModal">
   <mat-list>
      <div [class.hidden]="!(data.content == null)" class="text-center pt-3 pb-1">Danh sách trống!</div>
      <div class="item" *ngFor="let candidate of listDisplay" [class.hidden]="data.content == null">
         <mat-list-item style="height: fit-content;">
            <div class="col-md-2 block">
               <img class=" item-img" *ngIf="candidate.avatarURL" src={{candidate?.avatarURL}}
                  onerror="this.src='https://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png'"
                  alt={{candidate.displayName}}>
               <img class=" item-img" *ngIf="!candidate.avatarURL" src={{avatar}} alt={{candidate.displayName}}>
            </div>
            <div class="col-md-8 block">
               <div class="textHeader">
                  <span class="candidate-name" (click)="openViewCVModal(candidate)">{{candidate?.displayName}}</span>
                  <img class="icon-img-tap" *ngIf="candidate.isApplied" title="Ứng viên ứng tuyển"
                     src="https://icons-for-free.com/iconfiles/png/512/finger+gesture+hand+one+tap+icon-1320183620658585234.png">
                  <img class="icon-img-gpt" *ngIf="!candidate.isApplied" title="Ứng viên được đề xuất"
                     src="https://static.vecteezy.com/system/resources/previews/021/059/827/non_2x/chatgpt-logo-chat-gpt-icon-on-white-background-free-vector.jpg">
               </div>
               <div class="row more">
                  <div class="col-5 textOver">
                     Ngày Sinh: {{candidate?.dob | date:'yyyy-MM-dd'}}
                  </div>
                  <div class="col-3 textOver">
                     Giới Tính: {{candidate?.genderDisplay}}
                  </div>
                  <div class="col-4 textOver">
                     Phù hợp: {{candidate?.percentMatching | percent:'1.1-2'}}
                  </div>
               </div>
               <div class="row more" *ngIf="data.listType == 2">
                  <div class="col-6 textOver">
                     Email: {{candidate?.displayEmail}}
                  </div>
                  <div class="col-2"></div>
                  <div class="col-4 textOver">
                     SDT: {{candidate?.phone}}
                  </div>
               </div>
            </div>
            <div class="col-md-2 block">
               <div class="btn-grp float-end">
                  <button class="pr-2" title="Loại khỏi danh sách" (click)="openConfirmDialog(candidate)"><i
                        class="bi bi-person-dash h4"></i></button>
                  <button *ngIf="candidate?.isSelected == 0" (click)="onClickSelect(candidate)" title="Yêu thích"><i
                        class="bi bi-star h4"></i></button>
                  <button *ngIf="candidate?.isSelected == 1" (click)="onClickSelect(candidate)" title="Bỏ yêu thích"><i
                        class="bi bi-star-fill h4"></i></button>
               </div>
            </div>
         </mat-list-item>
         <mat-divider></mat-divider>
      </div>
   </mat-list>
</mat-dialog-content>
<mat-dialog-actions class="float-end col-12" [class.hidden]="isHideModal">
   <div class="col-3 d-flex align-items-center"><a *ngIf="data.listType != 2 && data.content != null" class="ml-auto"
         (click)="openListCandidateLeft()">Nhiều ứng viên hơn</a></div>
   <mat-paginator class="col-7" *ngIf="data.content != null" [length]="data.content?.length" [pageSize]="pageSize"
      [showFirstLastButtons]="true" [hidePageSize]="true" [pageIndex]="pageIndex"
      (page)="handlePage($event)"></mat-paginator>
   <button mat-button mat-dialog-close class="col-1 ml-auto">Close</button>
</mat-dialog-actions>