mat-dialog-title {
    text-align: center;
}

.item {
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px #ccc solid;
    padding: 5px;
    display: flex;
    position: relative;
    box-shadow: var(--boxShadow);
}

.item:hover {
    transition: 0.3s;
    box-shadow: var(--boxShadow1);
    cursor: pointer;
}

.item img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 10px;
}

.textHeader {
    height: 20px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    display: flex;
}

.textOver {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    margin: 5px 0;
    cursor: pointer;
    background-color: white;
}

.bi {
    color: coral;
}

.block {
    display: inline-block;
    vertical-align: middle;
}