<h1 mat-dialog-title>Tùy Chọn Đề Xuất</h1>
<div mat-dialog-content>
    <p>Bạn muốn đề xuất bao nhiêu ứng viên?</p>
    <mat-form-field>
        <mat-label>Số lượng</mat-label>
        <input matInput type="number" [formControl]="quanControl" [(ngModel)]="data.quantity">
        <mat-error *ngIf="quanControl.invalid">{{getErrorMessageQuantity()}}</mat-error>
    </mat-form-field>
    <p>Hệ thống sẽ trả về kết quả sau 24h!</p>

    <br>
    <p>Bạn muốn nhận kết quả sớm hơn? Hãy nhập thời gian bạn muốn nhận kết quả:</p>
    <mat-form-field>
        <mat-label>Giờ</mat-label>
        <input matInput type="number" [formControl]="hourControl" [(ngModel)]="hour">
        <mat-error *ngIf="hourControl.invalid">Thời gian không hợp lệ!</mat-error>
    </mat-form-field>
    <mat-form-field class="pl-3">
        <mat-label>Phút</mat-label>
        <input matInput type="number" [formControl]="minControl" [(ngModel)]="minute" (isValidForm)="true">
        <mat-error *ngIf="minControl.invalid">Thời gian không hợp lệ!</mat-error>
    </mat-form-field>
    <p class="text-danger" *ngIf="!isValidForm">Thời gian không hợp lệ!</p>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Đóng</button>
    <button mat-button (click)="onYesClick()">Xác Nhận</button>
</div>