.widget-container {
    display: flex;
    align-items: space-between;
    width: 95%;
    .widget {
      height: 175px;
      background-color: #fff;
      color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
      display: flex;
      align-items: center;
      padding: 20px;
      &.green {
        /* background-color: rgb(4, 67, 66); */
        background: linear-gradient(109.6deg, rgb(13, 107, 76) 11.2%, rgb(44, 51, 59) 91.3%);
      }
      &.yellow {
        /* background-color: rgb(237, 158, 32); */
        background: linear-gradient(109.6deg, rgb(199, 140, 72) 11.2%, rgb(255, 176, 17) 91.3%);
      }
      &.red {
        /* background-color: rgb(126, 5, 5); */
        background: linear-gradient(109.6deg, rgb(193, 34, 68) 11.2%, rgb(143, 10, 10) 91.3%);
      }
      &.blue {
        /* background-color: rgb(105, 32, 251); */
        background: linear-gradient(109.6deg, rgb(98, 122, 200) 11.2%, rgb(51, 5, 178) 91.3%);
      }
      
      .icon {
        font-size: 60px;
        text-align: center;
      }
      .value {
        text-align: center;
        .top {
          font-size: 30px;
        }
        .bottom {
          font-size: 20px;
          margin-top: 10px;
        }
      }
    }
  }