.carousel-inner {
   max-height: 400px;
   box-shadow: var(--boxShadow1);
}

.carousel-item img {
   height: 400px;
   object-fit: cover;
   border-radius: 15px;
   box-shadow: var(--boxShadow1);
}

.carousel .carousel-inner {
   .carousel-item {
      transition: opacity 0.2s linear;
   }

   .active.carousel-item {
      opacity: 1;
   }

   .carousel-item-left,
   .carousel-item-right {
      opacity: 0;
   }
}

#frm-search-job {
   width: 100%;
   margin-bottom: 15px;
}

.formSearch {
   background-color: white;
   height: 40px;
   border-radius: 12px;
   padding: 5px;
   display: flex;
}

.inputPostistionJob {
   display: flex;
   margin-left: 5px;
   margin-right: 5px;
}

.inputPostistionJob input,
.inputPostistionJob i {
   line-height: 30px;
   margin-right: 5px;
}

.inputPostistionJob input {
   outline: none;
   width: 100%;
}

.slectAddress {
   display: flex;
   margin-left: 5px;
   margin-right: 5px;
}

.slectAddress i {
   line-height: 28px;
   margin-right: 5px;
}

.slectAddress select {
   line-height: 16px;
   outline: none;
}

.btnSearchCustom {
   display: flex;
   justify-content: end;
   align-items: center;
   align-self: center;
}

.btnCustom {
   line-height: 16px;
   width: 80%;
}



.box-demand-job {
   background: rgba(33, 47, 63, .3);
   border: 1px solid transparent;
   border-radius: 12px;
   overflow: hidden;
   padding: 16px 24px;
   position: relative;
   transition: .3s;
}

.box-demand-job_work-market {
   margin-bottom: 16px;
}

.box-demand-job_work-market .work-market_header {
   align-items: center;
   color: #fff;
   display: flex;
   justify-content: space-between;
   margin-bottom: 22px;
}

.box-demand-job_work-market .work-market_content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin: 0 8px 18px;
}

.box-demand-job_work-market .work-market_header span {
   color: #fff;
   display: flex;
   font-size: 14px;
   font-weight: 600;
   gap: 8px;
   letter-spacing: .175px;
   line-height: 22px;
}

.list {
   width: 200px;
   height: 190px;
   background-image: linear-gradient(to top, #c2e9fb 0%, #a1c4fd 100%);
   display: inline-block;
   text-align: center;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
   margin: 7rem 2rem 0 0rem;
   cursor: pointer;
   padding: 10px;
}

.list image {
   border-radius: 10px;
   min-height: 100px;
}

.imageSize {
   height: 130px;
   width: 100%;

}

.imageSize img {
   width: 100%;
   border-radius: 10px;
   object-fit: cover;
}

#menu {
   position: relative;
   width: 100%;
   height: 230px;
   top: 1rem;
   border-radius: 15px;
   box-shadow: var(--boxShadow);
}

#cards {
   width: 90%;
   overflow: hidden;
   white-space: nowrap;
   display: block;
   list-style: none;
   padding: 0;
   position: relative;
   left: 5%;
   bottom: 90px;
   
}

.list p {
   width: 300px hidden;
}

#prev {
   display: inline-block;
   position: absolute;
   left: 10px;
   cursor: pointer;
   font-size: 20px;
   z-index: 1;
   width: 34px;
   background-color: var(--blueLight1);
   border-radius: 17px;
   color: white;
   height: 34px;
   top: 105px
}

#prev:hover {
   background-color: var(--blueLight2);
}

#next {
   display: inline-block;
   position: absolute;
   right: 10px;
   cursor: pointer;
   font-size: 20px;
   z-index: 1;
   width: 34px;
   height: 34px;
   top: 105px;
   color: white;
   background-color: var(--blueLight1);
   border-radius: 17px;
}

#next:hover {
   background-color: var(--blueLight2);
}

#next i {
   display: flex;
   justify-content: center;
   line-height: 34px;
}

#prev i {
   display: flex;
   justify-content: center;
   line-height: 34px;
}

.titleCompany {
   margin-top: 5px;
}