.carousel-inner {
   max-height: 400px;
   overflow: hidden;
   border-radius: 15px;
   box-shadow: var(--boxShadow1);
}

.carousel-item img {
   height: 400px;
   object-fit: cover;
   box-shadow: var(--boxShadow1);
}

.carousel .carousel-inner {
   .carousel-item {
      transition: opacity 0.3s linear;
   }

   .active.carousel-item {
      opacity: 1;
   }

   .carousel-item-left,
   .carousel-item-right {
      opacity: 1;
   }
}

.list {
   width: 200px;
   height: 190px;
   background-image: linear-gradient(to top, #c2e9fb 0%, #a1c4fd 100%);
   display: inline-block;
   text-align: center;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
   margin: 7rem 2rem 0 0rem;
   cursor: pointer;
   padding: 10px;
}

.list image {
   border-radius: 10px;
   min-height: 100px;
}

.imageSize {
   height: 130px;
   width: 100%;

}

.imageSize img {
   width: 100%;
   height: 130px;
   border-radius: 10px;
   object-fit: scale-down;
   background-color: #fff;
}

#menu {
   position: relative;
   width: 100%;
   height: 230px;
   top: 1rem;
   border-radius: 15px;
   box-shadow: var(--boxShadow);
}

#cards {
   width: 90%;
   overflow: hidden;
   white-space: nowrap;
   display: block;
   list-style: none;
   padding: 0;
   position: relative;
   left: 5%;
   bottom: 90px;

}

.list p {
   width: 300px hidden;
}

#prev1 {
   display: inline-block;
   position: absolute;
   left: 10px;
   cursor: pointer;
   font-size: 20px;
   z-index: 1;
   width: 34px;
   background-color: var(--blueLight1);
   border-radius: 17px;
   color: white;
   height: 34px;
   top: 105px
}

#prev1:hover {
   background-color: var(--blueLight2);
}

#next1 {
   display: inline-block;
   position: absolute;
   right: 10px;
   cursor: pointer;
   font-size: 20px;
   z-index: 1;
   width: 34px;
   height: 34px;
   top: 105px;
   color: white;
   background-color: var(--blueLight1);
   border-radius: 17px;
}

#next1:hover {
   background-color: var(--blueLight2);
}

#next1 i {
   display: flex;
   justify-content: center;
   line-height: 34px;
}

#prev1 i {
   display: flex;
   justify-content: center;
   line-height: 34px;
}

.titleCompany {
   margin-top: 10px;
   color: black;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   font-weight: 600;
}

.textHeader1 {
   font-size: 1.4em;
   font-weight: 600;
}