.carousel-inner{
    max-height: 400px;
}

.carousel-item img{
    height: 400px;
    object-fit: cover;
}

#frm-search-job{
    width: 100%;
    margin-bottom: 15px;
}

.formSearch{
    background-color: white;
    height: 40px;
    border-radius: 12px;
    padding: 5px;
    display: flex;
}

.inputPostistionJob{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.inputPostistionJob input,
.inputPostistionJob i{
    line-height: 30px;
    margin-right: 5px;
}

.inputPostistionJob input{
    outline: none;
    width: 100%;
}

.slectAddress{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.slectAddress i{
    line-height: 28px;
    margin-right: 5px;
}

.slectAddress select{
    line-height: 16px;
    outline: none;
}

.btnSearchCustom{
    display: flex;
    justify-content: end;
    align-items: center;
    align-self: center;
}

.btnCustom{
    line-height: 16px;
    width: 80%;
}



.box-demand-job {
    background: rgba(33,47,63,.3);
    border: 1px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    padding: 16px 24px;
    position: relative;
    transition: .3s;
}

.box-demand-job_work-market {
    margin-bottom: 16px;
}

.box-demand-job_work-market .work-market_header {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.box-demand-job_work-market .work-market_content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 8px 18px;
}

.box-demand-job_work-market .work-market_header span {
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    gap: 8px;
    letter-spacing: .175px;
    line-height: 22px;
}

.box-demand-job_work-market .work-market_header span.date {
    color: #11d769;
}

.box-demand-job_work-market .work-market_header span img {
    width: 24px;
}

.box-demand-job_work-market .work-market_content .job-hiring:nth-child(odd) {
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg,rgba(17,215,105,0),#11d769 51.04%,rgba(17,215,105,0));
    border-right: 1px solid;
    position: relative;
}

.box-demand-job_work-market .work-market_content .job-hiring {
    display: flex;
    gap: 8px;
}

.box-demand-job_work-market .work-market_content .job-hiring span {
    font-feature-settings: "clig" off,"liga" off;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .175px;
    line-height: 22px;
}

.box-demand-job_work-market .work-market_content .job-hiring span.quantity {
    color: #11d769;
}

.box-demand-job_work-market .work-market_content .job-hiring .status {
    align-items: center;
    background: rgba(17,215,105,.1);
    border-radius: 15px;
    color: #11d769;
    display: flex;
    height: 24px;
    justify-content: center;
    padding: 6px;
    width: 24px;
}

.box-demand-job_work-market .work-market_content .job-hiring .status i {
    font-size: 12px;
}

.box-demand-job_work-market .work-market_content .job-hiring:nth-child(2n) {
    justify-content: end;
}

