<section class="formListJds container">
    <div class="listJobs">
        <div class="itemJob" *ngFor="let jd of listJds | paginate
        : {
            itemsPerPage: itemsPerPage,
            currentPage: page,
            totalItems: totalItems
          }" [class.hidden]="!jd.isShow">
          <div class="col-2">
                <img src="https://cdn.pixabay.com/photo/2017/03/01/18/06/satisfaction-guarantee-2109235_1280.png"
                    alt="">
            </div>
            <div class="col-9">
                <div class="textHeader" (click)="onClickView(jd)" >{{jd?.title}}</div>
                <div class="row time">
                    <div class="col-4 textOver">Thời gian đăng bài: 11-2-2023</div>
                    <div class="col-4 textOver">Thời gian hạn bài đăng: 12-2-2023</div>
                    <div class="col-4 textOver">Số lượng tuyển dụng: {{jd?.numberRequirement ? jd?.numberRequirement :
                        0}}</div>
                </div>

                <div class="row more">
                    <div class="col-4 textOver">
                        Vị trí tuyển: {{jd?.positionTitle}}
                    </div>
                    <div class="col-4 textOver">
                        Chức danh: {{jd?.levelTitle}}
                    </div>
                    <div class="col-4 textOver">
                        Mức lương: {{jd?.salary}}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="btn-grp">
                    <i class="fa-solid fa-circle status"></i>
                    <button style="padding-top: 40px;" (click)="onClickUpdate(jd)">
                        <i class="bi bi-pencil-square h3 " title="Chỉnh sửa bài tuyển dụng"></i>
                    </button>
                    <button (click)="openDialog(jd)">
                        <i class="bi bi-trash h3" title="Hủy bỏ bài tuyển dụng"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <pagination-controls class="pagi"  previousLabel="" nextLabel="" (pageChange)="pageChanged((page = $event))"></pagination-controls>
        </ul>
    </nav>
</section>