.header__container {
   padding: 12px 30px;
   background: #fff;
   margin-top: 300px;
}

.formUpdate {
   padding: 30px;
   width: 60%;
   box-shadow: var(--boxShadow);
   border-radius: 20px;
   margin: auto;
}

.inputOldPassword {
   position: relative;
}

.inputNewPassword {
   position: relative;
}

.inputConformPassword {
   position: relative;
}

.iconEyeOldPassword {
   position: absolute;
   top: 25%;
   right: 2%;
   cursor: pointer;
}

.iconEyeOldPassword:active {
   opacity: 0.7;
}

.display {
   display: none;
}