<div class="container-fluid">
   <candidate-header></candidate-header>
   
   <div class="container header__container">
      <div class="formUpdate">
         <section>
            <!-- old password input -->
            <div class="form-label-group mb-4 mt-3"><span class="link-danger"> *</span>
               <label class="form-label" for="old">Mật khẩu cũ</label>
               <div class="inputOldPassword">
                  <input [type]="typeOldPassword" maxlength="35" (ngModelChange)="validateOldPassword($event)"  [(ngModel)]="oldPassword" name="old" class="form-control form-control-md shadow-none" />
                  <i class="fa-solid fa-eye iconEyeOldPassword" [class.display]="displayOldPassword" (click)="changeStatusOldPassword()"></i>
                  <i class="fa-sharp fa-solid fa-eye-slash iconEyeOldPassword" [class.display]="!displayOldPassword" (click)="changeStatusOldPassword()"></i>
               </div>
               <span *ngIf="invalidOldPassword" class="link-danger">
                  Mật khẩu phải chứ ít nhất 8 ký tự, Trong đó phải có ít nhất 1 ký tự viết hoa và ký tự đặc biệt
               </span>
            </div>
            <!-- new password input -->
            <div class="form-label-group mb-4 mt-3"><span class="link-danger"> *</span>
               <label class="form-label" for="new">Mật khẩu mới</label>
               <div class="inputNewPassword">
                  <input [type]="typeNewPassword" name="new" maxlength="35" (ngModelChange)="validateNewPassword($event)"  [(ngModel)]="newPassword" class="form-control form-control-md shadow-none" />
                  <i class="fa-solid fa-eye iconEyeOldPassword" [class.display]="displayNewPassword" (click)="changeStatusNewPassword()"></i>
                  <i class="fa-sharp fa-solid fa-eye-slash iconEyeOldPassword" [class.display]="!displayNewPassword" (click)="changeStatusNewPassword()"></i>
               </div>
               <span *ngIf="invalidNewPassword" class="link-danger">
                  Mật khẩu phải chứ ít nhất 8 ký tự, Trong đó phải có ít nhất 1 ký tự viết hoa và ký tự đặc biệt
               </span>
            </div>
            <!-- conform password input -->
            <div class="form-label-group mb-4 mt-3"><span class="link-danger"> *</span>
               <label class="form-label" for="conform">Xác nhận mật khẩu</label>
               <div class="inputConformPassword">
                  <input [type]="typeConformPassword"  name="conform"  maxlength="35" (ngModelChange)="validateConformPassword($event)" [(ngModel)]="conformPassword" class="form-control form-control-md shadow-none" />
                  <i class="fa-solid fa-eye iconEyeOldPassword" [class.display]="displayConformPassword" (click)="changeStatusConformPassword()"></i>
                  <i class="fa-sharp fa-solid fa-eye-slash iconEyeOldPassword" [class.display]="!displayConformPassword" (click)="changeStatusConformPassword()"></i>
               </div>
               <span *ngIf="invalidConformPassword" class="link-danger">
                  Mật khẩu không trùng khớp
               </span>
            </div>
            <div class="col-12 p-0 mt-5">
               <button type="button" class="btn btnBlueLight btn-block" (click)="SubmitForm()">Thay đổi</button>
            </div>
         </section>
      </div>
   </div>
</div>