.header__container {
   padding: 12px 30px;
   background: #fff;
   margin-top: 300px;
}

.formUpdate {
   padding: 30px;
   width: 60%;
   box-shadow: var(--boxShadow);
   border-radius: 20px;
   margin: auto;
}
