<div class="container-fluid">
   <candidate-header></candidate-header>
   <div class="container header__container">
      <div class="formUpdate">
         <section>
            <!-- old password input -->
            <div class="form-label-group mb-4 mt-3"><span class="link-danger"> *</span>
               <label class="form-label" for="username">Mật khẩu cũ</label>
               <input type="text" name="username" class="form-control form-control-md shadow-none" />
            </div>
            <!-- new password input -->
            <div class="form-label-group mb-4 mt-3"><span class="link-danger"> *</span>
               <label class="form-label" for="username">Mật khẩu mới</label>
               <input type="text" name="username" class="form-control form-control-md shadow-none" />
            </div>
            <!-- conform password input -->
            <div class="form-label-group mb-4 mt-3"><span class="link-danger"> *</span>
               <label class="form-label" for="username">Xác nhận mật khẩu</label>
               <input type="text" name="username" class="form-control form-control-md shadow-none" />
            </div>
            <div class="col-12 p-0 mt-5">
               <button type="button" class="btn btnBlueLight btn-block" (click)="SubmitForm()">Thay đổi</button>
            </div>
         </section>
      </div>
   </div>
</div>