<div>
   <candidate-header></candidate-header>
   <div class="Content container">
      <div class="listJobs">
         <div *ngIf="!listJds" style="height: 800px;">
            <app-view-null></app-view-null>
         </div>
         <div class="itemJob" *ngFor="let jd of listJds | paginate
            : {
                itemsPerPage: itemsPerPage,
                currentPage: page,
                totalItems: totalItems
              }">
            <a href="/candidate/company-detail/{{jd?.jobDescription?.companyDTO?.companyId}}"
               style="text-decoration: none;">
               <div class="col-2">
                  <img src="{{jd.jobDescription.companyDTO.avatarURL}}" alt="">
               </div>
            </a>

            <div class="col-9">
               <div class="textHeader col-11" (click)="onClickViewJD(jd)">{{jd.jobDescription.title}}</div>
               <div class="row time">
                  <div class="col-4 textOver">Thời gian đăng bài: {{ jd.jobDescription.createdAt }}</div>
                  <div class="col-4 textOver">Thời gian hạn bài đăng: {{ jd.jobDescription.expiredDate }}</div>
                  <div class="col-4 textOver">Số lượng tuyển dụng: {{jd.jobDescription.numberRequirement ?
                     jd.jobDescription.numberRequirement :
                     0}}</div>
               </div>

               <div class="row more">

                  <div class="col-4 textOver">
                     Vị trí tuyển: {{jd.jobDescription.positionTitle}}
                  </div>

                  <div class="col-4 textOver">
                     Chức danh: {{jd.jobDescription.levelTitle}}
                  </div>
                  <div class="col-4 textOver">
                     Mức lương: {{jd.jobDescription.salary}}
                  </div>
               </div>
            </div>

            <i class="fa-regular fa-eye btnEdit" (click)="openViewCVDialog(jd)"></i>
            <div class="aplied" *ngIf="jd.isSelected">Đã ứng tuyển</div>
            <div class="notApplied" *ngIf="jd.isReject">Đang đợi duyệt</div>
            <div class="notApplied" *ngIf="!jd.isSelected && !jd.isReject">Đang đợi duyệt</div>

         </div>
      </div>
      <div *ngIf="listJds">
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
               <pagination-controls class="pagi" previousLabel="" nextLabel=""
                  (pageChange)="pageChanged((page = $event))"></pagination-controls>
            </ul>
         </nav>
      </div>

   </div>
</div>