<nav class="navbar navbar-expand-lg navbar-light navbar-custom shadow-sm">
   <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/recruiter/list-jds']">BÀI VIẾT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <div *ngIf="hasCompany">
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/recruiter/company-update']">CÔNG TY</a>
               </li>
            </div>

            <div *ngIf="!hasCompany">
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/recruiter/company-register']">Tạo công ty</a>
               </li>
            </div>
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['/recruiter/jd-register']" tabindex="-1" aria-disabled="true">ĐĂNG TUYỂN DỤNG</a>
            </li>
         </ul>
         <form class="d-flex">
            <div *ngIf="isLog">
               <span class="align-center pr-3 username-bound">Xin chào <span class="username">{{profile.userName}}</span></span>
               <button type="button" class="btn btn-success m-2" [routerLink]="['/recruiter/sign-out/']" (click)="signOut()">Đăng xuất</button>
            </div>
         </form>
      </div>
   </div>
</nav>