<header class="p-3 mb-3 border-bottom header">
   <div class="container">
     <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none" previewlistener="true">
         <!-- <img src="https://i.postimg.cc/XqdV5QNT/JOB-MATCHING-1-removebg-preview.png" alt="mdo" width="52" height="52" class="rounded-circle bg"> -->
       </a>

       <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 header-title">
         <li *ngIf="hasCompany" [class.tabSelect]="headerTitle[0].value"><a [routerLink]="['/recruiter/list-jds']" class="nav-link px-2 link-body-emphasis text-white">Bài Đăng</a></li>
         <li *ngIf="hasCompany" [class.tabSelect]="headerTitle[3].value"><a [routerLink]="['/recruiter/create-jd']" class="nav-link px-2 link-body-emphasis text-white">Đăng Tuyển Dụng</a></li>
         <li *ngIf="!hasCompany" [class.tabSelect]="headerTitle[2].value"><a [routerLink]="['/recruiter/create-company']" class="nav-link px-2 link-body-emphasis text-white">Tạo Công Ty</a></li>
         <li *ngIf="hasCompany" [class.tabSelect]="headerTitle[1].value"><a [routerLink]="['/recruiter/view-company']" class="nav-link px-2 link-body-emphasis text-white">Công Ty</a></li>
       </ul>

       <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
         <!-- <input type="search" class="form-control" placeholder="Search..." aria-label="Search"> -->
       </form>

       <div class="dropdown text-end">
         <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
           <img src={{profile?.avatarURL}} alt="mdo" width="32" height="32" class="rounded-circle"> {{profile?.fullName}}
         </a>
         <ul class="dropdown-menu text-small">
           <li><a class="dropdown-item" [routerLink]="['/recruiter/profile']">Thông tin cá nhân</a></li>
           <!-- <li><a class="dropdown-item" href="">Cài đặt</a></li> -->
           <li><hr class="dropdown-divider"></li>
           <li><a class="dropdown-item" (click)="signOut()">Đăng xuất</a></li>
         </ul>
       </div>
     </div>
   </div>
 </header>