.navbar-custom {
   height: 70px;
   padding-left: 50px;
   padding-right: 50px;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 100;
   /* background: linear-gradient(109.6deg, rgb(72, 200, 160) 11.2%, rgb(32, 40, 48) 91.3%); */
   background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
   font-family: 'Helvetica';
   font-weight: bold;
   font-size: medium;
}

body {
   background-color: white;
}

.username-bound {
   color: black;
   font-weight: normal;
}

.username {
   font-style: italic;
   text-decoration: underline;
   color: black;
   font-weight: lighter;
}

.nav-item {
   color: white;
}

/* ver2  */
.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   background: linear-gradient(120deg, #76a0e5 0%, #c2e9fb 100%);
   font-family: 'Helvetica';
   font-size: large;
}

.header-title {
   color: white;
}

.tabSelect a {
   font-weight: bold;
   color: black !important;
}

a:hover{
   cursor: pointer;
}

.rounded-circle{
   object-fit: cover;
}