<div class="container">
   <h4>Danh sách công việc</h4>

   <div class="row d-flex listJob">
      <div *ngIf="!listJds" style="height: 500px;">
         <app-view-loading></app-view-loading>
      </div>

      <div class="itemJob" *ngFor="let jd of listJds | paginate: 
      {
         itemsPerPage: itemsPerPage,
         currentPage: page,
         totalItems: totalItems
       }" (click)="onClick(jd)">
         <div style="display: flex;">
            <div class="imgJob">
               <img src="{{ jd?.companyDTO?.avatarURL }}" alt="...">
            </div>
            <div class="detailJob">
               <div class="textOver fontBold">{{jd?.title}}</div>
               <div class="textOver">{{jd?.companyName}}</div>
               <div class="textOver colorOrange">{{jd?.salary}}</div>
               <div class="textOver">{{jd?.address}}</div>
            </div>
         </div>
      </div>
   </div>

   <div *ngIf="listJds">
      <nav aria-label="Page navigation example">
         <ul class="pagination justify-content-center">
            <pagination-controls class="pagi" previousLabel="" nextLabel=""
               (pageChange)="pageChanged((page = $event))"></pagination-controls>
         </ul>
      </nav>
   </div>
</div>