.sectionBlock_job-list .container .sectionBlock__content {
   padding: 24px;
}

.listJob {
   margin-top: 50px;
   gap: 20px;

}

.itemJob {
   height: 120px;
   border-radius: 15px;
   border: 1px solid #ccc;
   width: 32%;
   margin-bottom: 20px;
   padding: 10px;
   box-shadow: var(--boxShadow);
}

.itemJob:hover {
   cursor: pointer;
}

.imgJob {
   height: 95px;
}

.imgJob img {
   width: 95px;
   height: 95px;
   object-fit: contain;
   border-radius: 5px;
}

.detailJob {
   margin-left: 10px;
   padding: 0;
   width: 70%;
}

.textOver {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.fontBold {
   font-weight: 700;
}

.colorOrange {
   color: orange;
}

.customInput{
   border: none;
   font-size: 1.1em;
   margin-right: 5px;
}

.formInputSearch{
   border: 1px solid var(--blueLight1);
   border-radius: 22px;
   width: 100%;
   overflow: hidden;
   margin-top: 20px;
   box-shadow: var(--boxShadow);
}

.customSelect{
   border: none;
}

.pagi {
   margin: auto;
}
