<div class="container">
    <div class="row d-flex justify-content-between listJob">
        <div class="itemJob">
            <div class="row d-flex">
                <div class="col-4 imgJob">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png"
                        alt="...">
                </div>
                <div class="col-7  detailJob">
                    <div class="textOver fontBold">Senior Delphi Developer In Da Nang</div>
                    <div class="textOver">Tilling Timber Pty Ltd, Vietnam Representative Office</div>
                    <div class="textOver colorOrange">Thương lượng</div>
                    <div class="textOver">Đà Nẵng</div>
                </div>
            </div>
        </div>
        <div class="itemJob">
            <div class="row d-flex">
                <div class="col-4 imgJob">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png"
                        alt="...">
                </div>
                <div class="col-7  detailJob">
                    <div class="textOver fontBold">Senior Delphi Developer In Da Nang</div>
                    <div class="textOver">Tilling Timber Pty Ltd, Vietnam Representative Office</div>
                    <div class="textOver colorOrange">Thương lượng</div>
                    <div class="textOver">Đà Nẵng</div>
                </div>
            </div>
        </div>
        <div class="itemJob">
            <div class="row d-flex">
                <div class="col-4 imgJob">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png"
                        alt="...">
                </div>
                <div class="col-7  detailJob">
                    <div class="textOver fontBold">Senior Delphi Developer In Da Nang</div>
                    <div class="textOver">Tilling Timber Pty Ltd, Vietnam Representative Office</div>
                    <div class="textOver colorOrange">Thương lượng</div>
                    <div class="textOver">Đà Nẵng</div>
                </div>
            </div>
        </div>
        <div class="itemJob">
            <div class="row d-flex">
                <div class="col-4 imgJob">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png"
                        alt="...">
                </div>
                <div class="col-7  detailJob">
                    <div class="textOver fontBold">Senior Delphi Developer In Da Nang</div>
                    <div class="textOver">Tilling Timber Pty Ltd, Vietnam Representative Office</div>
                    <div class="textOver colorOrange">Thương lượng</div>
                    <div class="textOver">Đà Nẵng</div>
                </div>
            </div>
        </div>
        <div class="itemJob">
            <div class="row d-flex">
                <div class="col-4 imgJob">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png"
                        alt="...">
                </div>
                <div class="col-7  detailJob">
                    <div class="textOver fontBold">Senior Delphi Developer In Da Nang</div>
                    <div class="textOver">Tilling Timber Pty Ltd, Vietnam Representative Office</div>
                    <div class="textOver colorOrange">Thương lượng</div>
                    <div class="textOver">Đà Nẵng</div>
                </div>
            </div>
        </div>
        <div class="itemJob">
            <div class="row d-flex">
                <div class="col-4 imgJob">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png"
                        alt="...">
                </div>
                <div class="col-7  detailJob">
                    <div class="textOver fontBold">Senior Delphi Developer In Da Nang</div>
                    <div class="textOver">Tilling Timber Pty Ltd, Vietnam Representative Office</div>
                    <div class="textOver colorOrange">Thương lượng</div>
                    <div class="textOver">Đà Nẵng</div>
                </div>
            </div>
        </div>
        <div class="itemJob">
            <div class="row d-flex">
                <div class="col-4 imgJob">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png"
                        alt="...">
                </div>
                <div class="col-7  detailJob">
                    <div class="textOver fontBold">Senior Delphi Developer In Da Nang</div>
                    <div class="textOver">Tilling Timber Pty Ltd, Vietnam Representative Office</div>
                    <div class="textOver colorOrange">Thương lượng</div>
                    <div class="textOver">Đà Nẵng</div>
                </div>
            </div>
        </div>
        <div class="itemJob">
            <div class="row d-flex">
                <div class="col-4 imgJob">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png"
                        alt="...">
                </div>
                <div class="col-7  detailJob">
                    <div class="textOver fontBold">Senior Delphi Developer In Da Nang</div>
                    <div class="textOver">Tilling Timber Pty Ltd, Vietnam Representative Office</div>
                    <div class="textOver colorOrange">Thương lượng</div>
                    <div class="textOver">Đà Nẵng</div>
                </div>
            </div>
        </div>
        <div class="itemJob">
            <div class="row d-flex">
                <div class="col-4 imgJob">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png"
                        alt="...">
                </div>
                <div class="col-7  detailJob">
                    <div class="textOver fontBold">Senior Delphi Developer In Da Nang</div>
                    <div class="textOver">Tilling Timber Pty Ltd, Vietnam Representative Office</div>
                    <div class="textOver colorOrange">Thương lượng</div>
                    <div class="textOver">Đà Nẵng</div>
                </div>
            </div>
        </div>

    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link shadow-none" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item shadow-none"><a class="page-link" href="#">1</a></li>
            <li class="page-item shadow-none"><a class="page-link" href="#">2</a></li>
            <li class="page-item shadow-none"><a class="page-link" href="#">3</a></li>
            <li class="page-item shadow-none">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>