<div class="container">
   <div class="input-group formInputSearch">
      <input type="text" class="form-control shadow-none customInput" placeholder="Nhập tên công ty">
      <select class="form-select shadow-none customSelect" aria-label="Default select">
         <option selected>Tất cả lĩnh vực</option>
         <option value="1">Giáo dục</option>
         <option value="2">Thời trang</option>
         <option value="3">Tài chính</option>
         <option value="4">Bảo hiểm</option>
         <option value="5">CNTT Phần mềm</option>
         <option value="6">Truyền thông</option>
         <option value="7">Khác</option>
      </select>
      <select class="form-select shadow-none customSelect" aria-label="Default select">
         <option selected>Tất cả lĩnh vực</option>
         <option value="1">Giáo dục</option>
         <option value="2">Thời trang</option>
         <option value="3">Tài chính</option>
         <option value="4">Bảo hiểm</option>
         <option value="5">CNTT Phần mềm</option>
         <option value="6">Truyền thông</option>
         <option value="7">Khác</option>
      </select>
      <select class="form-select shadow-none customSelect" aria-label="Default select">
         <option selected>Tất cả lĩnh vực</option>
         <option value="1">Giáo dục</option>
         <option value="2">Thời trang</option>
         <option value="3">Tài chính</option>
         <option value="4">Bảo hiểm</option>
         <option value="5">CNTT Phần mềm</option>
         <option value="6">Truyền thông</option>
         <option value="7">Khác</option>
      </select>
      <div class="input-group-append ">
         <button class="btn btnBlueLight" type="button" style="border-radius: 22px; width: 44px;">
            <i class="fa fa-search"></i>
         </button>
      </div>
   </div>

   <div class="row d-flex listJob">
      <div class="itemJob" *ngFor="let jd of listJds | paginate: 
      {
         itemsPerPage: itemsPerPage,
         currentPage: page,
         totalItems: totalItems
       }" (click)="onClick(jd)">
         <div style="display: flex;">
            <div class="imgJob">
               <img
                  src="{{ jd?.companyDTO?.avatarURL }}"
                  alt="...">
            </div>
            <div class="detailJob">
               <div class="textOver fontBold">{{jd?.title}}</div>
               <div class="textOver">{{jd?.companyName}}</div>
               <div class="textOver colorOrange">{{jd?.salary}}</div>
               <div class="textOver">{{jd?.address}}</div>
            </div>
         </div>
      </div>
   </div>

   <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
          <pagination-controls class="pagi"  previousLabel="" nextLabel="" (pageChange)="pageChanged((page = $event))"></pagination-controls>
      </ul>
  </nav>
</div>