<app-header-recruiter></app-header-recruiter>
<section class="formCompanyUpdate">
   <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
         <div class="col-10">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
               <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 link-danger">CẬP NHẬT THÔNG TIN CÔNG TY</h3>
                  <form>
                     <!-- row 1 -->
                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label class="form-label" for="name">Tên Công Ty</label><span class="link-danger">
                              *</span>
                           <mat-form-field appearance="outline" class="col-12 p-0">
                              <input matInput type="text" id="name" placeholder="Nhập tên công ty" required
                                 [formControl]="nameRq" />
                              <mat-error *ngIf="nameRq.invalid">{{getErrorMessageName()}}</mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-2">
                           <label class="form-label" for="email">Email</label><span class="link-danger">
                              *</span>
                           <mat-form-field appearance="outline" class="col-12 p-0">
                              <input matInput type="email" id="email" placeholder="Nhập email" required
                                 [formControl]="emailRq" />
                              <mat-error *ngIf="emailRq.invalid">{{getErrorMessageEmail()}}</mat-error>
                           </mat-form-field>
                        </div>
                     </div>
                     <!-- row 2 -->
                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label for="taxNum" class="form-label">Mã Số Thuế</label><span class="link-danger">
                              *</span>
                           <mat-form-field appearance="outline" class="col-12 p-0">
                              <input matInput type="number" id="taxNum" placeholder="Nhập mã số thuế" required
                                 [formControl]="taxNumRq" />
                              <mat-error *ngIf="taxNumRq.invalid">{{getErrorMessageTaxNum()}}</mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-2">
                           <label for="website" class="form-label">Website</label>
                           <mat-form-field appearance="outline" class="col-12 p-0">
                              <input matInput type="text" id="website" placeholder="https://"
                                 [formControl]="websiteRq" />
                           </mat-form-field>
                        </div>
                     </div>
                     <!-- row 3 -->
                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label class="form-label select-label">Lĩnh Vực</label><span class="link-danger">
                              *</span>
                           <mat-form-field appearance="outline" class="col-12 p-0">
                              <mat-select required [formControl]="categoryRq">
                                 <mat-option value="0" disabled>Chọn lĩnh vực</mat-option>
                                 <mat-option *ngFor="let elm of categories; index as i"
                                    value={{elm.id}}>{{elm.categoryName}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="categoryRq.invalid">{{getErrorMessageCategory()}}</mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-2">
                           <label class="form-label select-label">Quy Mô</label><span class="link-danger">
                              *</span>
                           <mat-form-field appearance="outline" class="col-12 p-0">
                              <mat-select required [formControl]="sizeRq">
                                 <mat-option value="0" disabled>Chọn quy mô công ty</mat-option>
                                 <mat-option *ngFor="let elm of sizes; index as i" value={{elm}}>{{elm}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="sizeRq.invalid">{{getErrorMessageSize()}}</mat-error>
                           </mat-form-field>
                        </div>
                     </div>
                     <!-- row 4 -->
                     <div class="row">
                        <div class="col-md-6 mb-2">
                           <label for="yearOfEstablishment" class="form-label">Năm thành lập</label>
                           <mat-form-field appearance="outline" class="col-12 p-0">
                              <input matInput type="number" id="yearOfEstablishment" placeholder="Nhập năm thành lập"
                                 required [formControl]="yearOfEstablishmentRq" />

                           </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-2 pb-2">
                           <label class="form-label" for="phone">Số Điện Thoại</label>
                           <mat-form-field appearance="outline" class="col-12 p-0">
                              <input matInput type="tel" id="phone" placeholder="Nhập số điện thoại công ty" required
                                 [formControl]="phoneRq" />
                           </mat-form-field>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 mb-2 pb-2">
                           <label class="form-label" for="address">Địa Chỉ</label><span class="link-danger">
                              *</span>
                           <mat-form-field appearance="outline" class="col-12 p-0">
                              <input matInput type="text" id="address" placeholder="Nhập địa chỉ công ty" required
                                 [formControl]="addressRq" />
                              <mat-error *ngIf="addressRq.invalid">{{getErrorMessageAddress()}}</mat-error>
                           </mat-form-field>
                        </div>
                     </div>
                     <!-- row 5 -->
                     <div class="row">
                        <div class="col-12 pb-4">
                           <div class="form-outline">
                              <label class="form-label" for="description">Mô Tả</label><span class="link-danger">
                                 *</span>
                              <ckeditor [config]="{placeholder: 'Nhập mô tả công ty'}" [editor]="Editor" data=""
                                 required [formControl]="descriptionRq">
                              </ckeditor>
                              <mat-error
                                 *ngIf="descriptionRq.invalid && checkReq">{{getErrorMessageDescriptionRequirement()}}</mat-error>
                           </div>
                        </div>
                     </div>

                     

                     <!-- row 6 -->
                     <div class="row mt-3">
                        <div class="col-12 pb-4">
                           <label class="form-label pb-2">Hình Ảnh Công Ty</label>

                           <img class="file-upload-image pb-2 avatar" [src]="imageAvatarSrc" alt="your image"
                              [style.display]="displayImageAvatar" />

                           <div class="image-upload-wrap" ng-hide="true">
                              <input class="file-upload-input" type='file' multiple=false id="fileInput"
                                 (change)="loadAvatar($event);" accept="image/*" />
                           </div>
                        </div>
                     </div>

                     <!-- row 6 -->
                     <div class="row">
                        <div class="col-12 pb-2">
                           <label class="form-label pb-2">Hình nền Công Ty</label>
                           <img class="file-upload-image pb-2 bacground" [src]="imageBackgroundSrc" alt="your image"
                              [style.display]="displayImageBackground" />
                           <div class="image-upload-wrap" ng-hide="true">
                              <input class="file-upload-input" type='file' multiple=false
                                 (change)="loadBackGround($event);" accept="image/*" />
                           </div>
                        </div>
                     </div>

                     <!-- button submit -->
                     <div class="mt-3 pt-2">
                        <button mat-stroked-button (click)="submitButtonClicked()"
                           class="btn btn-lg col-2 btnBlueLight">Lưu</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>