<app-header-recruiter></app-header-recruiter>
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details"
            target="__blank">Profile</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page"
            target="__blank">Billing</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page"
            target="__blank">Security</a>
        <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"
            target="__blank">Notifications</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Ảnh Đại Diện</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src={{profile?.avatarURL}} alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG hoặc PNG không vượt quá 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Đăng Ảnh Mới</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Thông Tin Tài Khoản</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Họ và tên</label>
                            <input #fullname class="form-control" type="text" placeholder="Nhập tên của bạn"
                                [value]="profile?.fullName">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Tài khoản</label>
                                <input class="form-control" id="inputFirstName" type="text"
                                    placeholder="Tài khoản của bạn" value={{profile?.userName}} disabled>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Giới tính</label>
                                <!-- <input class="form-control" id="inputLastName" type="text"
                                    placeholder="Enter your last name" [value]="profile?.genderTitle"> -->
                                <select #gender class="form-select form-select-sm" style="height: 35px !important;" [value]="profile?.genderTitle">
                                    <option value="0">Nam</option>
                                    <option value="1">Nữ</option>
                                    <option value="null">Không công khai</option>
                                </select>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-12">
                                <label class="small mb-1" for="inputOrgName">Email</label>
                                <input class="form-control" id="inputOrgName" type="email"
                                    placeholder="Enter your organization name" value={{profile?.email}} disabled>
                            </div>
                            <!-- Form Group (location)-->
                            <!-- <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Ngày tạo:</label>
                                <input class="form-control" id="inputLocation" type="text"
                                    placeholder="Enter your location" value={{profile?.createdDateDisplay}} disabled>
                            </div> -->
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Tổ chức</label>
                            <input class="form-control" id="inputEmailAddress" type="email"
                                placeholder="Enter your email address" value={{company?.companyName}} disabled>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Số điện thoại</label>
                                <input #phone class="form-control" id="inputPhone" type="tel"
                                    placeholder="Nhập số điện thoại" [value]="profile?.phoneNumber">
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Ngày sinh</label>
                                <input #dob class="form-control" id="inputBirthday" type="text" name="birthday"
                                    placeholder="Nhập ngày sinh" [value]="profile?.doB_Display">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="button" (click)="updateProfile(fullname, gender, phone, dob)">Cập Nhật</button>
                    </form>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Thay Đổi Mật Khẩu</div>
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="inputPasswordOld">Mật Khẩu Hiện Tại</label>
                            <input #oldPass type="password" class="form-control" id="inputPasswordOld" required="">
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNew">Mật khẩu mới</label>
                            <input #newPass type="password" class="form-control" id="inputPasswordNew" required="">
                            <span class="form-text small text-muted">
                                    Mật khẩu mới phải từ 8 - 20 ký tự, không được chứa khoảng trắng.
                                </span>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNewVerify">Xác nhận mật khẩu</label>
                            <input #rePass type="password" class="form-control" id="inputPasswordNewVerify" required="">
                            <span class="form-text small text-muted">
                                    Hãy nhập lại mật khẩu để xác nhận.
                                </span>
                        </div>
                            <button class="btn btn-primary" type="button" (click)="changePassword(oldPass, newPass, rePass)">Cập Nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>