<!-- <p>jd-detail-view works!</p> -->
<section class="formCompanyRegister">
   <div class="container-fluid py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
         <div class="col-9">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
               <div class="card-body p-4 p-md-4">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">{{jdDetail?.title}}</h3>
                  <div class="row text-center">
                     <div class="col-4"><i class="bi bi-person-circle h4"></i> NGƯỜI ĐĂNG: {{jdDetail?.recruiterId}}
                     </div>
                     <div class="col-4"><i class="bi bi-calendar h4"></i> NGÀY TẠO: {{jdDetail?.createAt}}</div>
                     <div class="col-4"><i class="bi bi-calendar-check h4"></i> NGÀY HẾT HẠN: {{jdDetail?.expiredDate}}
                     </div>
                  </div>
                  <div class="row pt-5">
                     <div class="grp-btn">
                        <button type="button" class="btn btn-info" (click)="openMatchingDialog()">Đề xuất ứng
                           viên</button>
                        <button type="button" class="btn btn-info btnSnd" (click)="openCandidateDialog()">Danh sách ứng
                           viên đề xuất</button>
                        <button type="button" class="btn btn-info btnSnd" (click)="openApplicantDialog()">Danh sách
                           người ứng tuyển</button>
                        <button type="button" class="btn btn-info btnSnd" (click)="openApplicantDialog()">Danh sách
                           đã lưu</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
               <div class="card-body">
                  <h5 class="mb-4 pb-2 pb-md-0 mb-md-4">Thông Tin Chung</h5>
                  <div class="row text-center">
                     <div class="col-4 p-parent">
                        <div class="p-child">
                           <i class="bi bi-bank2 h2"></i>
                        </div>
                        <div class="p-child">
                           <div class="p-child-content">Lĩnh vực</div>
                           <div class="p-child-content">{{jdDetail?.categoryName}}</div>
                        </div>
                     </div>
                     <div class="col-4 p-parent">
                        <div class="p-child">
                           <i class="bi bi-card-heading h2"></i>
                        </div>
                        <div class="p-child">
                           <div class="p-child-content">Chức danh</div>
                           <div class="p-child-content">{{jdDetail?.positionTitle}}</div>
                        </div>
                     </div>
                     <div class="col-4 p-parent">
                        <div class="p-child">
                           <i class="bi bi-water h2"></i>
                        </div>
                        <div class="p-child">
                           <div class="p-child-content">Cấp bậc</div>
                           <div class="p-child-content">{{jdDetail?.levelTitle}}</div>
                        </div>
                     </div>
                  </div>
                  <!-- row 2 -->
                  <div class="row text-center">
                     <div class="col-4 p-parent">
                        <div class="p-child">
                           <i class="bi bi-calendar2-week h2"></i>
                        </div>
                        <div class="p-child">
                           <div class="p-child-content">Độ tuổi</div>
                           <div class="p-child-content">{{jdDetail?.agreRequirement}}</div>
                        </div>
                     </div>
                     <div class="col-4 p-parent">
                        <div class="p-child">
                           <i class="bi bi-gender-ambiguous h2"></i>
                        </div>
                        <div class="p-child">
                           <div class="p-child-content">Giới tính</div>
                           <div class="p-child-content">{{jdDetail?.genderRequirement}}</div>
                        </div>
                     </div>
                     <div class="col-4 p-parent">
                        <div class="p-child">
                           <i class="bi bi-cash-coin h2"></i>
                        </div>
                        <div class="p-child">
                           <div class="p-child-content">Mức lương</div>
                           <div class="p-child-content">{{jdDetail?.salary}}</div>
                        </div>
                     </div>
                  </div>
                  <!-- row 3 -->
                  <div class="row text-center">
                     <div class="col-4 p-parent">
                        <div class="p-child">
                           <i class="bi bi-person-plus-fill h2"></i>
                        </div>
                        <div class="p-child">
                           <div class="p-child-content">Số lượng</div>
                           <div class="p-child-content">{{jdDetail?.numberRequirement}}</div>
                        </div>
                     </div>
                     <div class="col-4 p-parent">
                        <div class="p-child">
                           <i class="bi bi-tags h2"></i>
                        </div>
                        <div class="p-child">
                           <div class="p-child-content">Loại việc làm</div>
                           <div class="p-child-content">{{jdDetail?.employmentTypeName}}</div>
                        </div>
                     </div>
                     <div class="col-4 p-parent">
                        <div class="p-child">
                           <i class="bi bi-house h2"></i>
                        </div>
                        <div class="p-child">
                           <div class="p-child-content">Địa chỉ</div>
                           <div class="p-child-content">{{jdDetail?.address}}</div>
                        </div>
                     </div>
                  </div>
                  <!-- end -->
               </div>
            </div>
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
               <div class="card-body">
                  <h5 class="mb-4 pb-2 pb-md-0 mb-md-4 info">Thông Tin Chi Tiết</h5>
                  <h6 class="content">Mô Tả Công việc</h6>
                  <div>
                     <textarea class="rq-area" autosize readonly>{{jobDescription}}</textarea>
                  </div>
                  <h6 class="content">Yêu Cầu Ứng Viên</h6>
                  <div>
                     <textarea class="rq-area" autosize readonly>{{jobRequirement}}</textarea>
                  </div>
                  <h6 class="content">Quyền Lợi</h6>
                  <div>
                     <textarea class="rq-area" autosize readonly>{{jobBenefit}}</textarea>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>