.formCompanyRegister {
   padding-top: 80px;
   /* background: linear-gradient(109.6deg, rgb(72, 200, 160) 11.2%, rgb(32, 40, 48) 91.3%); */
   /* background-image: linear-gradient(to right, #141e30, #243b55); */
   /* background: linear-gradient(to right, #44a08d, #093637);  */
   /* background: linear-gradient(to right, #c0c0aa, #1cefff); */
   /* background: linear-gradient(to right, #11998e, #38ef7d); */
   /* background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); */
   /* background: linear-gradient(to right, #007991, #78ffd6); */
   background: white;
}

.card-top {
   /* background: linear-gradient(120deg, #ccd9ef 0%, #c2e9fb 100%); */
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
   font-size: 1rem;
   line-height: 2.15;
   padding-left: .75em;
   padding-right: .75em;
}

.card-registration {
   top: 13px;
   margin-top: 20px;
}

input {
   font-size: medium;
}

.file-upload-image {
   max-height: 300px;
   margin: auto;
   object-fit: cover;
}

.grp-btn {
   text-align: center;
   margin-bottom: 10px;
   color: white;
}

.grp-btn button {
   width: 200px;
   color: white;
   /* background-color: cornflowerblue; */
   background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
   /* background: linear-gradient(120deg, #5c759d 0%, #1274a1 100%); */
}

.btnSnd {
   margin-left: 20px;
}

.bi {
   color: rgb(10, 112, 123);
   /* color:   coral; */
}

.p-parent {
   display: flex;
   /* justify-content: center; */
   margin-bottom: 15px;
   padding-left: 30px;
}

.p-child {
   display: flex;
   flex-direction: column;
   text-align: left;
}

.p-child-content {
   display: block;
   padding-left: 10px;
}

.p-child-content:first-child {
   color: rgb(4, 116, 93);
   font-weight: 600;
}

.p-child-content:nth-child(2) {
   font-weight: 600;
}

.rq-area {
   width: 100%;
   height: 100%;
   resize: none;
   padding-bottom: 20px;
   /* set can't select */
   -webkit-user-select: none;
   /* Safari */
   -ms-user-select: none;
   /* IE 10 and IE 11 */
   user-select: none;
   /* Standard syntax */
   cursor: default;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
}

.rq-area:focus {
   outline: none;
}

.btn-img {
   width: 18px;
   height: 18px;
   object-fit: contain;
   /* border-radius: 5px; */
}

.backgroundGradient img {
   width: 100%;
   height: 50px;
   border-radius: 15px 15px 0px 0px;
   overflow: hidden;
}