.formCompanyRegister {
   padding-top: 80px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
   font-size: 1rem;
   line-height: 2.15;
   padding-left: .75em;
   padding-right: .75em;
}

.card-registration {
   top: 13px;
   margin-top: 20px;
}

input {
   font-size: medium;
}

.file-upload-image {
   max-height: 300px;
   margin: auto;
   object-fit: cover;
}

.grp-btn {
   text-align: center;
   margin-bottom: 10px;
   color: white;
}

.grp-btn button {
   width: 250px;
   color: white;
   background-color: cornflowerblue;
}

.btnSnd {
   margin-left: 10px;
}

.bi {
   color: #6EA8FE;
}

.p-parent {
   display: flex;
   /* justify-content: center; */
   margin-bottom: 15px;
   padding-left: 30px;
}

.p-child {
   display: flex;
   flex-direction: column;
   text-align: left;
}

.p-child-content {
   display: block;
   padding-left: 10px;
}

.p-child-content:first-child {
   color: darkorange;
}

.p-child-content:nth-child(2) {
   font-weight: 600;
}

.rq-area {
   width: 100%;
   height: 100%;
   resize: none;
   padding-bottom: 20px;
   /* set can't select */
   -webkit-user-select: none;
   /* Safari */
   -ms-user-select: none;
   /* IE 10 and IE 11 */
   user-select: none;
   /* Standard syntax */
   cursor: default;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
}

.rq-area:focus {
   outline: none;
}

.btn-img {
   width: 18px;
   height: 18px;
   object-fit: contain;
   /* border-radius: 5px; */
}