<div class="container-fluid">
   <candidate-header></candidate-header>
   <div class="container header__container">
      <div class="formUpdate">
         <h4>Chỉnh sửa thông tin cá nhân</h4>
         <div class="avatar">
            <img src="https://ss-images.saostar.vn/wp700/pc/1655895094264/saostar-zemx7kpv9n1wnysy.jpg" alt="">
            <div class="blockCamera">
               <i class="fa-solid fa-camera-retro iconCamera"></i>
            </div>
         </div>

         <!-- Username input -->
         <div class="form-label-group mb-4 mt-3">
            <label class="form-label" for="username">Tên đăng nhập</label>
            <input type="text" disabled value="{{ profile?.userName }}" name="username"
               class="form-control form-control-md shadow-none" />

         </div>

         <!-- Email input -->
         <div class="form-label-group mb-4 mt-3">
            <label class="form-label" for="form3Example3">Email</label>
            <input type="email" disabled value="{{ profile?.email }}" name="email"
               class="form-control form-control-md shadow-none" />
         </div>

         <!-- FullName input -->
         <div class="form-label-group mb-4 mt-3">
            <label class="form-label" for="form3Example3">Họ và tên</label><span class="link-danger"> *</span>
            <input type="text" name="fullName" value="{{ profile?.fullName }}" [(ngModel)]="FullName" (ngModelChange)="validateFullName($event)"
               class="form-control form-control-md shadow-none" />
            <span *ngIf="invalidFullName" class="link-danger">
               Tên không hợp lệ
            </span>
         </div>

         <!-- Phone input -->
         <div class="form-label-group mb-4 mt-3">
            <label class="form-label" for="form3Example3">Số điện thoại</label><span class="link-danger"> *</span>
            <input type="text" name="phone" value="{{ profile?.phoneNumber }}" [(ngModel)]="Phone" (ngModelChange)="validatePhone($event)"
               class="form-control form-control-md shadow-none" />
            <span *ngIf="invalidPhone" class="link-danger">
               Tên không hợp lệ
            </span>
         </div>

         <!-- Email input -->
         <div class="form-label-group mb-4 mt-3">
            <label class="form-label" for="form3Example3">Ngày sinh</label><span class="link-danger"> *</span>
            <input type="date" name="fullName" (ngModelChange)="validateDob($event)" [(ngModel)]="Dob" value="{{ profile?.dob.split('T')[0] }}"
               class="form-control form-control-md shadow-none" />
            <span *ngIf="invalidDob" class="link-danger">
               Ngày sinh không hợp lệ
            </span>
         </div>

         <div class="d-flex">
            <div class="form-check ml-2">
               <input class="form-check-input shadow-none" value="true" [checked]="profile?.isMale" type="radio" name="gender"
                  id="nam">
               <label class="form-check-label" for="nam">
                  Nam
               </label>
            </div>
            <div class="form-check  ml-2">
               <input class="form-check-input shadow-none" value="false" [checked]="!profile?.isMale" type="radio" name="gender"
                  id="nu">
               <label class="form-check-label" for="nu">
                  Nữ
               </label>
            </div>
         </div>

         <div class="col-12 p-0 mt-5">
            <button type="button" class="btn btnBlueLight btn-block" (click)="SubmitForm()">Thay đổi</button>
         </div>
      </div>

   </div>
</div>