<div class="container-fluid">
   <candidate-header></candidate-header>
   <div class="container header__container">
      <div class="formUpdate">
         <h4>Chỉnh sửa thông tin cá nhân</h4>
         <div class="avatar">
            <img src="https://ss-images.saostar.vn/wp700/pc/1655895094264/saostar-zemx7kpv9n1wnysy.jpg" alt="">
         </div>
    
         <!-- Email input -->
         <div class="form-label-group mb-4 mt-3">
            <label class="form-label" for="form3Example3">Tên đăng nhập</label><span class="link-danger"> *</span>
            <input type="text" name="username" id="form3Example3" class="form-control form-control-md shadow-none" />
         </div>
      </div>

   </div>
</div>