<div class="nav-items">
    <div class="nav-item" routerLink="dashboard">
        <span>Dashboard</span>
      </div>
      <!-- <div class="nav-item">
        <span>Account</span>
      </div> -->
      <div class="nav-item" routerLink="company-page">
        <span>Company</span>
      </div>
      <div class="nav-item" routerLink="candidate-page">
        <span>Candidate</span>
      </div>
      <div class="nav-item" routerLink="recruiter-page">
        <span>Recruiter</span>
      </div>
      <div class="nav-item">
        <span>Help</span>
      </div>
</div>