<div class="nav-items">
    <div class="nav-item">
        <span routerLink="mainCmp">Dashboard</span>
      </div>
      <div class="nav-item">
        <span>Account</span>
      </div>
      <div class="nav-item">
        <span routerLink="companyCmp">Company</span>
      </div>
      <div class="nav-item">
        <span>Candidate</span>
      </div>
      <div class="nav-item">
        <span>Statistics</span>
      </div>
      <div class="nav-item">
        <span>Contact</span>
      </div>
      <div class="nav-item">
        <span>Help</span>
      </div>
</div>