.container {
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translateX(-50%);
}

.content {
   background-color: #ddd;
   height: 1000px;
}

.listCompany {
   margin-top: 30px;
   gap: 3%;
}

.itemCompany {
   height: 350px;
   border-radius: 15px;
   border: 1px solid #ccc;
   width: 32%;
   margin-bottom: 20px;
   padding: 10px;
   float: left;
   position: relative;
}



.itemCompanyHeader img {
   width: 95px;
   height: 95px;
   object-fit: cover;
   border-radius: 5px;
   border: 3px solid #fff;
   position: absolute;
   /* object-position: top; */
   top: 60px;
   left: 35px;
   background-color: #fff;
}

.categoryCompany {
   margin-bottom: 10px;
}

.amountJobs {
   margin-bottom: 10px;
}

.btnSeeMore {
   width: 100%;
}

.companyName {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
   -webkit-line-clamp: 2;
   margin-bottom: 10px;
   font-weight: 600;
}

.customInput{
   border: none;
   font-size: 1.1em;
   margin-right: 5px;
}

.formInputSearch{
   border: 1px solid var(--blueLight1);
   border-radius: 22px;
   width: 35%;
   overflow: hidden;
   box-shadow: var(--boxShadow);
}

.contentCompany {
   margin-top: 10px;
   height: 140px;
}

.fllower {
   margin-left: 140px;
   line-height: 45px;
}

.backgroundImage img {
   width: 100%;
   height: 95px;
   object-fit: cover;
   border-radius: 5px;
}

.itemCompany:hover {
   cursor: pointer;
   box-shadow: var(--boxShadow1);
}

.imgJob {
   height: 95px;
}

.imgJob img {
   width: 95px;
   height: 95px;
   object-fit: contain;
   border-radius: 5px;
}

.detailJob {
   margin-left: 10px;
   padding: 0;
}

.mat-mdc-form-field {
   line-height: 20px;
}

@media only screen and (min-width: 600px) {
   input#search {
      width: 40vw;
   }
}