<section class="background">
   <div class="container vh-100 justify-content-center">
      <div class="row justify-content-center align-items-center contentBlock">
         <div class="col-md-6">
            <div class="card-body card">
               <div class="mb-4">
                  <h5>Quên mật khẩu?</h5>
                  <p class="mb-2">Hãy điền email đăng ký của bạn để lấy lại mật khẩu
                  </p>
               </div>
               <form>
                  <div class="mb-3">
                     <label for="email" class="form-label">Email</label>
                     <input #email type="email" id="email" class="form-control" name="email"
                        placeholder="Email của bạn..." required="">
                  </div>
                  <div class="mb-3 d-grid">
                     <button type="submit" class="btn btn-primary" (click)="getPassword(email)">
                        Lấy lại mật khẩu
                     </button>
                  </div>
                  <span>Chưa có tài khoản? <a [routerLink]="['/recruiter/sign-up']">Đăng ký</a></span>
                  <p> <a [routerLink]="['/recruiter/sign-in']">Quay lại đăng nhập</a></p>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>