:root {
    --gray-0: #fff;
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #565869;
    --gray-700: #40414f;
    --gray-800: #343541;
    --gray-900: #202123;
    --gray-950: #050509;

    --text-primary: var(--gray-800);
    --text-secondary: var(--gray-600);
    --text-tertiary: var(--gray-500);
    --surface-primary: var(--gray-0);
    --surface-secondary: var(--gray-50);
    --surface-tertiary: var(--gray-100);
    --border-light: var(--gray-100);
    --border-medium: var(--gray-200);
    --border-heavy: var(--gray-300);

    --blueLight1: #c2e9fb;
    --blueLight2: #a1c4fd;

    --boxShadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* width and height are optional, but can be useful */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* corner */
::-webkit-scrollbar-corner {
    background: #eee;
}

/* Custome btn */
.btnBlueLight{
    background-color: var(--blueLight2) !important;
    border: none;
    font-weight: 600;
}

.btnBlueLight:hover{
    opacity: 0.8;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }


body{
    font-family: "Times New Roman", Times, serif;
    color: #050509;
    font-size: 1.1em;
}