.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(30, 59, 85);
}

.sidenav .mat-toolbar {
  background: #0e1016;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
