<nav class="navbar navbar-expand-lg navbar-light navbar-custom shadow-sm">
   <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/candidate/']">Việc làm</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['/candidate/your-cvs/']">Hồ sơ</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['/candidate/list-companies/']">Công ty</a>
            </li>

            <li class="nav-item">
               <a class="nav-link" [routerLink]="['/candidate/list-companies/']" tabindex="-1" aria-disabled="true">Việc
                  làm của bạn</a>
            </li>
         </ul>
         <form class="d-flex">
            <div *ngIf="isLog">
               <button type="button" class="btn btn-success m-2 p-2" [routerLink]="['/candidate/sign-out/']" (click)="signOut()">Đăng xuất</button>
             </div>
             <div *ngIf="!isLog">
               <button type="button" class="btn btn-outline-primary m-2 p-2" [routerLink]="['/candidate/sign-in/']">Đăng nhập</button>
               <button type="button" class="btn btn-success m-2 p-2" [routerLink]="['/candidate/sign-up/']">Đăng ký</button>
             </div>
         </form>
      </div>
   </div>
</nav>