<nav class="navbar navbar-expand-lg navbar-light navbar-custom shadow-sm">
   <div class="container-fluid">
      <a [class.tabSelect]="headerTitle[0].value" class="nav-link" [routerLink]="['/candidate/']">Việc làm</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a [class.tabSelect]="headerTitle[1].value" class="nav-link" [routerLink]="['/candidate/your-cvs/']">Hồ
                  sơ</a>
            </li>
            <li class="nav-item">
               <a [class.tabSelect]="headerTitle[2].value" class="nav-link"
                  [routerLink]="['/candidate/list-companies/']">Công ty</a>
            </li>

            <li class="nav-item">
               <a [class.tabSelect]="headerTitle[3].value" class="nav-link"
                  [routerLink]="['/candidate/your-apply-job/']" tabindex="-1" aria-disabled="true">Việc
                  làm của bạn</a>
            </li>
         </ul>
         <form class="d-flex">
            <div *ngIf="profile">
               <div class="blockUser">
                  <img class="avatar" src="{{ profile?.avatarURL }}"
                     onerror="this.src='https://cdn1.iconfinder.com/data/icons/main-ui-elements-with-colour-bg/512/male_avatar-512.png'"
                     alt="">
                  <div style="align-self: center; margin-left: 15px;">Xin chào {{ profile?.fullName }} !</div>

                  <div class="profile">

                     <div class="itemProfile" [routerLink]="['/candidate/profile']">
                        <i class="fa-solid fa-user"></i>
                        <span style="margin-left: 15px;">Thông tin cá nhân</span>
                     </div>

                     <div class="line"></div>

                     <div class="itemProfile" [routerLink]="['/candidate/change-password']">
                        <i class="fa-solid fa-lock"></i>
                        <span style="margin-left: 15px;">Thay đổi mật khẩu</span>
                     </div>


                     <div class="line"></div>
                     <button type="button" class="btn btn-info w-100" [routerLink]="['/candidate/sign-out/']"
                        (click)="signOut()">Đăng xuất</button>

                  </div>
               </div>
            </div>
            <div *ngIf="!profile">
               <button type="button" class="btn btn-outline-primary m-2 p-2" [routerLink]="['/candidate/sign-in/']">Đăng
                  nhập</button>
               <button type="button" class="btn btn-success m-2 p-2" [routerLink]="['/candidate/sign-up/']">Đăng
                  ký</button>
            </div>
         </form>
      </div>
   </div>
</nav>