<div>
    <candidate-header></candidate-header>
    <div class="Content container">
        <section>
            <div class="row header">
                <div class="col-3 header1">
                    <img class="logoCompany"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png"
                        alt="">
                </div>
                <div class="col-6 header2">
                    <div class="textHeader">Customer Care Engineer</div>
                    <div class="textNomarl">Công ty: Epson Vietnam Co., Ltd.</div>
                    <div class="textNomarl">Vị trí: Hồ Chí Minh.</div>
                    <div class="textNomarl">Mức lương: 2000$</div>
                </div>
                <div class="col-3 header3">
                    <button class="Recruitment">Ứng tuyển ngay</button>
                </div>
            </div>

            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Thông tin việc làm">
                    <div class="d-flex mt-3">
                        <div style="width: 65%; padding: 20px;" class="infomationLeft">
                            <div class="textBold">
                                Mô tả công việc
                            </div>
                            <div>
                                Phát triển sản phẩm phần mềm theo định hướng của công ty trên nền tảng Shopify.
                                Hỗ trợ khách hàng cài đặt, sử dụng sản phẩm.
                                Fix lỗi và cập nhật sản phẩm liên tục đáp ứng nhu cầu của khách hàng.
                                Phát triển và vận hành sản phẩm trên hệ thống cloud AWS.
                                Làm việc với những công nghệ mới nhất React JS, GraphQL, Node JS.
                            </div>

                            <div class="textBold">
                                Yêu cầu ứng viên
                            </div>
                            <div>
                                Độ tuổi: 21 - 25. Có thể làm FULL TIME.
                                Có khả năng sử dụng 1 ngôn ngữ lập trình bất kỳ (PHP, Java, React...) và có hiểu biết
                                căn bản về lập trình web, Javascript, relational database (MySQL). Ưu tiên ứng viên có
                                kinh nghiệm React JS, GraphQL, Node JS
                                Có khả năng sử dụng những kĩ năng tin học (Google drive, skype, search,...).
                                Tiếng anh cơ bản đọc, hiểu tốt.
                                Tư duy logic tốt, có kỹ năng giải quyết vấn đề và làm việc trong môi trường áp lực cao.
                                Yêu thích làm việc với nền tảng thương mại điện tử.
                                Sẵn sàng được đầu với nhiều thử thách, chịu khó dành nhiều thời gian nghiên cứu và giải
                                quyết vấn đề khi được yêu cầu.
                                Khả năng làm việc độc lập hoặc làm việc nhóm, tự chủ động giải quyết các vấn đề trong
                                công việc theo đúng tiến độ và hướng dẫn.
                                Thẳng thắn trao đổi, có trách nhiệm với công việc, tôn trọng đồng nghiệp.
                            </div>

                            <div class="textBold">
                                Quyền lợi
                            </div>

                            <div>
                                Nhận lương hỗ trợ thực tập: 4M - 5M/ tháng
                                Được offer trở thành nhân viên chính thức nếu hoàn thành tốt 2 tháng thực tập với mức
                                lương khởi điểm lên tới 12 triệu/tháng
                                Được tham gia vào phát triển 1 Super App trên Shopify, phát triển kĩ năng sử dụng React
                                JS, NodeJS. Được làm việc và support nhiệt tình bởi các Senior Shopify Developer
                                Thời gian làm việc 5 ngày/tuần, từ 8h30 đến 17h45. Không khuyến khích OT.
                                Làm việc tại một trong những công ty Magento hàng đầu tại Việt Nam, là đối tác
                                Technology Partner của Magento và Solution Provider cho nhiều khách hàng Magento
                                Enterprise trên thế giới (100% khách hàng nước ngoài).
                                Có cơ hội phát triển kỹ năng thuyết trình, huấn luyện đào tạo qua các buổi chia sẻ,
                                training nội bộ.
                                Nhiều phúc lợi hấp dẫn: 13.5 ngày nghỉ phép/năm (12 ngày nghỉ phép theo quy định và 1.5
                                ngày nghỉ phép du lịch hàng năm), bảo hiểm, hiếu hỉ, quà sinh nhật, thưởng thâm niên và
                                các phúc lợi khác theo quy định của pháp luật.
                                Môi trường làm việc trẻ trung (95% là 9x), làm hết sức, chơi hết mình. Văn phòng làm
                                việc tiện nghi. Free trà, cafe và có tủ đồ uống.
                                Tham gia các chương trình team building, dã ngoại, sinh nhật thành viên, du lịch, từ
                                thiện… do BSS tổ chức thường xuyên.
                                Tham gia các CLB chạy, đá bóng, boardgame, văn nghệ… sau giờ làm việc.
                                Nghỉ hằng năm và các phúc lợi khác theo quy định của pháp luật.
                            </div>

                            <div class="textBold">
                                Địa điểm làm việc
                            </div>

                            <div>
                                - Hà Nội: Tầng 14,16, 18 và 19, tòa nhà Viwaseen, số 48 Tố Hữu, Nam Từ Liêm, Hà Nội, Nam
                                Từ Liêm
                            </div>
                        </div>
                        <div style="width: 35%; padding: 20px;">
                            <div class="d-flex itemSmall">
                                <i class="fa-solid fa-calendar"></i>
                                <div class="contentItemSmal">
                                    <div>Ngày đăng</div>
                                    <div>20/10/2023</div>
                                </div>
                            </div>

                            <div class="line"></div>

                            <div class="d-flex itemSmall">
                                <i class="fa-solid fa-calendar" style="margin-right: 10px;"></i>
                                <div class="contentItemSmal"> 
                                    <div>Ngày hết hạn</div>
                                    <div>20/10/2023</div>
                                </div>
                            </div>

                            <div class="line"></div>

                            <div class="d-flex itemSmall">
                                <i class="fa-solid fa-layer-group"></i>
                                <div class="contentItemSmal">
                                    <div>Chức danh</div>
                                    <div>20/10/2023</div>
                                </div>
                            </div>

                            <div class="line"></div>

                            <div class="d-flex itemSmall">
                                <i class="fa-solid fa-briefcase"></i>
                                <div class="contentItemSmal">
                                    <div>Lĩnh vực</div>
                                    <div>20/10/2023</div>
                                </div>
                            </div>

                            <div class="line"></div>

                            <div class="d-flex itemSmall">
                                <i class="fa-solid fa-briefcase"></i>
                                <div class="contentItemSmal">
                                    <div>Lĩnh vực</div>
                                    <div>20/10/2023</div>
                                </div>
                            </div>

                            <div class="line"></div>

                            <div class="d-flex itemSmall">
                                <i class="fa-solid fa-envelope"></i>
                                <div class="contentItemSmal">
                                    <div>JOB LEVEL</div>
                                    <div>20/10/2023</div>
                                </div>
                            </div>
                            <div class="line"></div>

                            <div class="d-flex itemSmall">
                                <i class="fa-solid fa-venus-mars"></i>
                                <div class="contentItemSmal">
                                    <div>JOB LEVEL</div>
                                    <div>20/10/2023</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Thông tin công ty">
                    <div class="d-flex mt-3">
                        <div style="width: 65%; padding: 20px;">Miêu tả công ty</div>
                        <div style="width: 35%; padding: 20px;">
                        
                            <div class="d-flex itemSmall">
                                <i class="fa-solid fa-venus-mars"></i>
                                <div class="contentItemSmal">
                                    <div>JOB LEVEL</div>
                                    <div>20/10/2023</div>
                                </div>
                            </div>

                            <div class="line"></div>

                            <div class="d-flex itemSmall">
                                <i class="fa-solid fa-venus-mars"></i>
                                <div class="contentItemSmal">
                                    <div>JOB LEVEL</div>
                                    <div>20/10/2023</div>
                                </div>
                            </div>

                            <div class="line"></div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Việc làm của công ty">
                    Content 3
                </mat-tab>
            </mat-tab-group>
        </section>
    </div>
</div>