
  .middle-section {
    display: flex;
    justify-content: space-between;
    .widget {
      height: 350px;
      background-color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
      }

    }
  
  .bottom-section {
    display: flex;
    justify-content: space-between;
    .widget {
      height: 250px;
      background-color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
    }
  }