<div class="top-section">
    <app-top-widgets></app-top-widgets>
</div>
<div class="middle-section">
    <div class="widget left col-6">
        <app-sales-by-month></app-sales-by-month>
    </div>
    <div class="widget right col-6 ">
        <app-sales-by-category></app-sales-by-category>
    </div>
</div>
<div class="bottom-section">
    <div class="widget left col-6">
        <app-last-few-transaction></app-last-few-transaction>
    </div>
    <div class="widget right col-6">
        <app-top-three-products></app-top-three-products>
    </div>
</div>
