<h2 class="text-center">Company Management</h2>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                        Filter
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Tên công ty</a></li>
                        <li><a class="dropdown-item" href="#">Địa chỉ</a></li>
                        <li><a class="dropdown-item" href="#">Lĩnh vực</a></li>
                        <li><a class="dropdown-item" href="#">Quản trị viên</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <table class="table table-striped text-center table-hover ">
        <thead class="table-success">
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Tên Công Ty</th>
                <th>Địa Chỉ</th>
                <th>Lĩnh Vực</th>
                <th>Ngày Tạo</th>
                <th>Quản Trị Viên</th>
                <th>Trạng thái</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let elm of companies; let i = index">
                <td>{{i+1}}</td>
                <td>{{elm.id}}</td>
                <td>{{elm.name}}</td>
                <td>{{elm.location}}</td>
                <td>{{elm.industry}}</td>
                <td>{{elm.dateCreated}}</td>
                <td>{{elm.admin}}</td>
                <td><button [ngClass]="{ 'btn': true, 'btn-success': elm.totalPost }" >Active</button></td>
                <td>
                    <button class="btn"><i class="bi bi-eye"></i></button>
                    <button class="btn"><i class="bi bi-pencil-square"></i></button>
                    <button class="btn"><i class="bi bi-person-x"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>