<div>
   <candidate-header></candidate-header>
   <section class="content container">
      <div class="contentLeft">
         Tuấn
      </div>

      
      <div class="contentRight">
         <div class="d-flex blockAvatar">
            <div class="avatar">
               <img src="https://2sao.vietnamnetjsc.vn/images/2021/10/04/18/18/st2.jpg" alt="">
            </div>
            <div class="profileDesction">
               <div>Chào bạn đã trở lại !</div>
               <div class="textBold">Vũ Văn Tuấn</div>
               <div>Tuanlbs78@gmail.com</div>
            </div>
         </div>

         <div class="mb-4">
            <div class="form-check">
               <input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
               <label class="form-check-label fontOff" for="flexCheckDefault">
                  Đang tắt tìm việc
               </label>
            </div>
            <span class="textSmall">
               Bật tìm việc giúp hồ sơ của bạn nổi bật hơn và được chú ý nhiều hơn trong danh sách tìm kiếm của NTD.
            </span>
         </div>

         <div class="mb-4">
            <div class="form-check">
               <input class="form-check-input shadow-none" type="checkbox" checked id="flexCheckDefault">
               <label class="form-check-label" for="flexCheckDefault">
                  Cho phép NTD tìm kiếm hồ sơ
               </label>
            </div>
            <span class="textSmall">
               Bật tìm việc giúp hồ sơ của bạn nổi bật hơn và được chú ý nhiều hơn trong danh sách tìm kiếm của NTD.
               Khi có cơ hội việc làm phù hợp.
            </span>
         </div>
      </div>
   </section>
</div>