<div>
   <candidate-header></candidate-header>
   <section class="content container">
      <div class="contentLeft">
         <section class="mt-0 p-3 blockTemplate">
            <div class="textHeader1">Các mẫu CV</div>
            <div id="menu">
               <div id="nav">
                  <div id="prev">
                     <i class="fa-solid fa-chevron-left"></i>
                  </div>
                  <div id="next">
                     <i class="fa-solid fa-chevron-right"></i>
                  </div>
               </div>
               <ul id="cards">
                  <li id="box1" class="list" *ngFor="let com of list">
                     <a href="{{Url}}/candidate/create-cv/{{com-1}}">
                        <div class="imageSize">
                           <img src="{{Url}}/assets/templateCV/theme{{ com }}.png" alt="...">
                        </div>
                        <div class="textTemplate">Mẫu {{ com }}</div>
                     </a>
                  </li>
               </ul>
            </div>
         </section>

         <section class="mt-4 p-3 blockYourCV">
            <div style="display: flex; justify-content: space-between;">
               <div class="textHeader1">Hồ sơ của bạn</div>
               <a href="{{Url}}/candidate/create-cv/6">
                  <button type="button" class="btn btnBlueLight"><i class="fa-solid fa-plus"
                        style="margin-right: 7px;"></i>Tạo mới</button>
               </a>
            </div>

            <div class="row mt-4 d-flex blockCV">
               <div *ngIf="!listCVs" style="height: 400px;">
                  <app-view-loading></app-view-loading>
               </div>

               <div class="col-5 itemCv" *ngFor="let cv of listCVs">
                  <div class="d-flex">
                     <div class="imageCV">
                        <img src="{{Url}}/assets/templateCV/theme{{ cv?.theme + 1 }}.png" alt="...">
                     </div>
                     <div class="contentItem">
                        <div class="textBold mb-1">- {{ cv.cvTitle}}</div>
                        <div class="textStyle mb-1">- Vị trí ứng tuyển: {{ cv.positionTitleName ? cv.positionTitleName :
                           "Chưa cập nhật" }}</div>
                        <div class="textStyle">- Cập nhật gần nhất {{ cv?.lastUpdateDateDisplay}} </div>
                     </div>

                  </div>
                  <a href="/candidate/update-cv/{{ cv.id }}">
                     <i class="fa-solid fa-pen-to-square btnEdit" (click)="gotoEditCV(cv.id)"></i>
                  </a>

                  <i class="fa-solid fa-trash btnTrash" (click)="gotoDeleteCV(cv.id)"></i>
                  <div class="form-check form-switch btnswitch" (click)="gotoUpdateCurrentCv(cv.id)">
                     <input class="form-check-input" type="checkbox" role="switch" [checked]="cv?.isFindingJob">
                  </div>
               </div>
            </div>

            <!-- Modal HTML embedded directly into document -->
            <div id="ex2" class="modal">
               <div class="contentModal" style="width: 100%;">
                  <div class="textHeader">Ứng tuyển
                  </div>
               </div>
            </div>
         </section>
      </div>


      <div class="contentRight">
         <div class="d-flex blockAvatar">
            <div class="avatar">
               <img src="{{profile.avatarURL}}" alt="">
            </div>
            <div class="profileDesction">
               <div>Chào bạn đã trở lại !</div>
               <div class="textBold">{{profile.fullName}}</div>
               <div>{{profile.email}}</div>
            </div>
         </div>

         <div style="height: 700px; overflow: hidden;">
            <div class="itemJob" *ngFor="let jd of listJds" (click)="onClickJD(jd)">
               <div style="display: flex;">
                  <div class="imgJob">
                     <img src="{{ jd?.companyDTO?.avatarURL }}" alt="...">
                  </div>
                  <div class="detailJob">
                     <div class="textOver fontBold">{{jd?.title}}</div>
                     <div class="textOver">{{jd?.companyName}}</div>
                     <div class="textOver colorOrange">{{jd?.salary}}</div>
                     <div class="textOver">{{jd?.address}}</div>
                  </div>
               </div>
            </div>
         </div>



         <!-- <div class="mb-4">
            <div class="form-check">
               <input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
               <label class="form-check-label fontOff" for="flexCheckDefault">
                  Đang tắt tìm việc
               </label>
            </div>
            <span class="textSmall">
               Bật tìm việc giúp hồ sơ của bạn nổi bật hơn và được chú ý nhiều hơn trong danh sách tìm kiếm của NTD.
            </span>
         </div>

         <div class="mb-4">
            <div class="form-check">
               <input class="form-check-input shadow-none" type="checkbox" checked id="flexCheckDefault">
               <label class="form-check-label" for="flexCheckDefault">
                  Cho phép NTD tìm kiếm hồ sơ
               </label>
            </div>
            <span class="textSmall">
               Bật tìm việc giúp hồ sơ của bạn nổi bật hơn và được chú ý nhiều hơn trong danh sách tìm kiếm của NTD.
               Khi có cơ hội việc làm phù hợp.
            </span>
         </div> -->
      </div>
   </section>
</div>